.skl-search {
    padding: 3.2rem 0;
    flex: 1;

    &__title {
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        h1 {
            color: var(--skl-color-black);
            font-size: 2rem;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: -1px;

            span {
                color: var(--skl-color-primary-600);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    .result-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 2.4rem;
    }

    @media (min-width: 768px) {
        &__title {
            h1 {
                font-size: 3.6rem;
                line-height: 4.8rem;
            }
        }

        .skl-news-card {
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: stretch;
            border: none;
            padding: 0;

            &__content {
                flex: none;
            }

            &__title {
                font-size: 2rem;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: -1px;
            }

            &__thumbnail {
                flex: none;
                width: 100%;
                aspect-ratio: 286/190;
            }
        }
    }
}
