.skl-btn {
    width: fit-content;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    transition: all 0.3s ease-in-out;

    &--primary {
        background-color: var(--skl-color-primary-600);
        color: var(--skl-color-white);
        text-align: center;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.32px;
        text-transform: capitalize;
        padding: 1.2rem 1.6rem;

        &:hover {
            background-color: var(--skl-color-primary-800);
        }
    }

    &--secondary {
        background-color: transparent;
        color: var(--skl-color-white);
        border-radius: 8px;

        &:hover {
            background-color: var(--skl-color-primary-800);
        }

        &:active {
            background-color: var(--skl-color-primary-900);
        }
    }

    &--text {
        color: var(--skl-color-primary-600);
        background-color: transparent;
        border: none;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.32px;
        text-transform: capitalize;
        border-bottom: 2px solid transparent;
        padding: 0.4rem 0 0.2rem;

        &:hover {
            border-bottom-color: var(--skl-color-primary-800);
            color: var(--skl-color-primary-800);
        }

        &:active {
            background-color: var(--skl-color-primary-100);
        }
    }

    &--icon {
        padding: 1.2rem;
        border-radius: 8px;
        aspect-ratio: 1;
        border: 1px solid var(--skl-color-neutral-700);

        &:hover {
            border-color: var(--skl-color-primary-600);
            background-color: var(--skl-color-primary-600);
        }

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &--small {
        padding: 1rem 1.2rem;
        gap: 0.4rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.024rem;
        text-transform: capitalize;
    }
}
