.skl-category {
    display: flex;
    padding: 0.4rem 1.2rem;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border-radius: 4px;
    background: var(--skl-color-primary-600);
    color: var(--skl-color-white);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    text-align: center;
}
