// Pagination Component
.skl-pagination {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    width: 100%;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;

        li {
            list-style: none;
        }
    }

    &__item {
        width: fit-content;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        transition: all 0.3s ease-in-out;
        background-color: var(--skl-color-neutral-200);
        border-radius: 8px;
        padding: 1.2rem 1.6rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.32px;
        text-transform: capitalize;
        cursor: pointer;

        &:not(&--dots):hover {
            background-color: var(--skl-color-primary-800);
            color: var(--skl-color-white);
        }

        &--active {
            background-color: var(--skl-color-primary-600);
            color: var(--skl-color-white);
        }

        &--dots {
            cursor: default;
            background-color: transparent;
        }
    }
}
