.skl-section-posts {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        padding: 2.4rem 0;

        & > .skl-btn {
            margin-left: auto;
            margin-top: calc(3.2rem - 2.4rem);
        }
    }

    &__posts {
        display: flex;
        flex-direction: column;

        .skl-news-card {
            padding: 2.4rem 0;
            border-top: 1px solid rgba(0, 0, 0, 0.08);

            &:first-child {
                padding-top: 0;
                border-top: none;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &__excerpt {
                display: none;
            }
        }
    }

    @media (min-width: 768px) {
        .skl-section-posts {
            &__container {
                padding: 4.8rem 0;
                display: grid;

                h2 {
                    font-size: 3.6rem;
                    font-weight: 600;
                    line-height: 4.8rem;
                    letter-spacing: -1px;
                }

                & > .skl-btn {
                    grid-column: 2/3;
                    margin-top: 0;
                    align-self: center;
                }
            }

            &__posts {
                display: grid;
                grid-column: 1/3;
                grid-row: 2/3;
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                gap: 2.4rem;

                & > .skl-btn {
                    align-self: center;
                }

                .skl-news-card {
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    align-items: stretch;
                    border: none;
                    padding: 0;

                    &__content {
                        flex: none;
                    }

                    &__title {
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 120%;
                        letter-spacing: -1px;
                    }

                    &__thumbnail {
                        flex: none;
                        width: 100%;
                        aspect-ratio: 286/190;
                    }
                }
            }
        }
    }
}
