.skl-stock-exchange-quotes {
    ul {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        scroll-behavior: smooth;

        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .quotes {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 0.8rem 1.6rem;
        border-right: 1px solid #aea8bb;
        background: var(--skl-color-neutral-200);

        text-wrap: nowrap;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.6rem;

        &__ticket {
            color: #1b1822;
        }

        &__price {
            color: #3a3446;
            font-weight: 400;
        }

        &__variation {
            &--positive {
                color: #22b573;
            }

            &--negative {
                color: #e02d3c;
            }
        }
    }
}
